/* Estilos generales para la paginación */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilos específicos para los componentes */
.subscriber-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f7f7f7;
}

.admin-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f7f7f7;
}
