.card {
  position: relative;
  width: 380px;
    max-width: 380px;
    height: 220px;
    max-height: 390px;
    background-color: #ffffff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 1;
    
   
}

.container-admin .card:hover {
  height: auto;
  transition: 2.3s ease-in-out;
}

.container-admin .card .imgBx {
  position: relative;
  width: 290px;
  height: 260px;
  top: -60px;
  left: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 5);
  margin-left: -13px;
  z-index: 1;
}

.container-admin .card .imgBx video {
  max-width: 120%;
  max-height: 120%;
  object-fit: contain;
  margin-left: 20px;
  position:relative;
}

.card .content {
  position: relative;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.0s ease-in-out;
  margin-bottom: 5px;
  z-index: 2;
}



.container-admin .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.container-admin .card .content audio {
  width: 100%;
}

.form-container{
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.form-styles{
  margin-top: 50px;
}

.Add{
  margin-top: 30px;
  background-color: rgb(121, 176, 213);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.edit{
  
  color: #52C11F;
  border-color: #52C11F;
  display: inline-block;
    margin: 6px;
    font-size: inherit;
    line-height: 1.42;
    padding: 0.7em 1.4em;
    font-weight: normal;
    border-width: 3px;
    border-style: solid;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
    /* user-select: none; */
    vertical-align: bottom;
    position: relative;
    transform: translate(0.5em -0.4em);
    transition: transform 0.2s;
}

.delete{
  color: #c11f1f;
  border-color: #c12f1f;
  display: inline-block;
    margin: 6px;
    font-size: inherit;
    line-height: 1.42;
    padding: 0.7em 1.4em;
    font-weight: normal;
    border-width: 3px;
    border-style: solid;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
    /* user-select: none; */
    vertical-align: bottom;
    position: relative;
    transform: translate(0.5em -0.4em);
    transition: transform 0.2s;
   
}

.logout-button{
  margin-left: 80rem;
}
/* Estilos para la etiqueta de audio */
.container-admin .card .content audio {
  width: 100%;
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Cambia el color de fondo y el estilo del botón de reproducción */
.container-admin .card .content audio::-webkit-media-controls-panel {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Cambia el color de fondo del botón de reproducción al pasar el ratón */
.container-admin .card .content audio::-webkit-media-controls-play-button {
  background-color: #3498db;
  border-radius: 50%;
}

/* Cambia el color de fondo del botón de reproducción en estado activo */
.container-admin .card .content audio::-webkit-media-controls-play-button:active {
  background-color: #2980b9;
}

/* Cambia el color de fondo del tiempo de reproducción y el volumen al pasar el ratón */
.container-admin .card .content audio::-webkit-media-controls-timeline {
  background-color: #3498db;
}

/* Cambia el color de fondo del tiempo de reproducción y el volumen en estado activo */
.container-admin .card .content audio::-webkit-media-controls-timeline:active {
  background-color: #2980b9;
}