.container-admin {
  /* position: relative; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 5px; */
  margin-top: 100px;
  font-family: 'Poppins', sans-serif;
  
  
}

.container-admin .card {

  position: relative;
  max-width: 380px;
  /* height: 215px; */
  height: 215px;
  background-color: #ffffff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0, 5);
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 1;
}

.container-admin .card:hover {
  height: auto;
}

.container-admin .card .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 5);
  margin-left: -13px;
}

.container-admin .card .imgBx video {
  max-width: 140%;
  max-height: 100%;
  /* Asegura que el video no se desborde */
  object-fit: contain;
}

.container-admin .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  margin-top: 2px;
  margin-bottom: 5px;
}

.container-admin .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.container-admin .card .content audio {
  /* Ajusta el ancho para que el elemento de audio se ajuste dentro de la tarjeta */
  width: 100%;
  /* O ajusta este valor según tus necesidades */
}




