body{
  background-color: #ffffd5;
}

.container-admin {
  height: 100%;
  width: 100%;
  /* ... otros estilos ... */
}
@media (max-width: 450px) {
  .container-admin {
    margin-top: 50px; /* Ajusta el margen superior para dar espacio en pantallas pequeñas */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten a la pantalla */
    justify-content: center; /* Centra las tarjetas horizontalmente */
  }

  .container-admin .card {
    max-width: 80%; /* Reduce el ancho máximo de las tarjetas */
    height: auto; /* Permite que la altura se ajuste automáticamente al contenido */
  }

  .container-admin .card .imgBx {
    top: -30px; /* Ajusta la posición de la imagen para evitar superposiciones */
  }

  .container-admin .card .content {
    margin-top: -20px; /* Ajusta la posición del contenido */
  }

  .container-admin .card .imgBx video {
   height: 300px;
   width: 200px;
    /* Ajusta la posición de la imagen para evitar superposiciones */
  }


}
