/* Estilos específicos del Footer */
.footer-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #A88F72;
    padding: 20px;
  }
  
  .footer-container .politics,
  .footer-container .socialnetwords {
    flex: 1;
    text-align: center;
    font-size: 11px;
   
  }
  
  .footer-container .socialnetwords {
    display: flex;
    justify-content: center;
    gap: 20px;
    
  }
  
  .footer-container .socialnetwords img {
    max-width: 40px; /* Ajusta el tamaño de los íconos según tu preferencia */
  }
  

  @media screen and (min-width: 430px) {
    .footer-container {
      flex-direction: row;
    }
  
    .footer-container .politics,
    .footer-container .socialnetwords {
      flex: 1;
      margin-bottom: 0;
      font-size: 5px;
    }
  }