*{
  margin: 0%;
}

#ContainerLogin {
 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
   
}

.logo-container {
    width: 50px;
    position: absolute;
    top: -20px;
    left: -0px;
    z-index: 2;
    transition: transform 0.3s; /* Agregamos una transición suave */
  }
  
  .logo-container:hover {
    transform: scale(1.2); /* Escala la imagen al 110% cuando el cursor está encima */
  }
  
  .logoLogin {
    /* max-width: 100px; */
    width: 250px;
    height: 200px;
 
  }
   
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Para asegurarte de que esté detrás de otros elementos */
  } 
  

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.subtitle{ 
    margin-bottom: 30px;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover {
    background-color: #6464f8;
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
} 

.sign-up.active {
    opacity: 0;
    visibility: hidden;
} 

.white-text {
    color: white;
  }
  
  .bold-text {
    font-weight: bold;
  }


  .custom-color {
    background-color: #411E05 !important;
    color: white !important;
  }

  .white-background {
    background-color: rgba(255, 255, 255, 0.602);
  }

  .welcome-text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; /* Ajusta el margen derecho según tus preferencias */
  }

  .larger-button {
    font-size: 20px; 
    padding: 10px 20px; 
    border-width: 1px; 
    border-radius: 10px !important;
  }

  
  .custom-signup-button {
    background-color: #A16543 !important;
    border: 4px solid #411E05 !important;
    border-radius: 10px !important;
    color: black !important;
  }




  .login-message {
    /* Estilos para el mensaje de inicio de sesión */
    /* Por ejemplo, puedes definir el color de fondo, el color del texto y la duración de la animación */
    background-color: #4a4aee;
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical según tus preferencias */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
 
  .error-message{
    color: red;
    font-size: 10px;
    margin-top: 5px; /* Ajusta esta propiedad para cambiar la distancia vertical */
    margin-bottom: 10px;
  }





